body {
  background-color: #283040;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.logo-link {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.logo-img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.2s ease;
  filter: brightness(0) invert(1);
}

.logo-img:hover {
  transform: scale(1.2);
}

.container {
  background-color: #3a4252;
  padding: 2rem;
  border-radius: 16px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.04);
}

h1 {
  text-align: center;
  color: #F5F1ED;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 0.2rem;
}

p {
  text-align: center;
  color: #CFCBC5;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  letter-spacing: 0.3px;
  font-weight: 400;
}

.form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="date"] {
  flex: 1;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

input[type="text"]::placeholder, 
input[type="date"]::placeholder {
  color: #222;
}

input[type="text"]:focus,
input[type="date"]:focus {
  outline: none;
  border-color: #70798C;
  background-color: #A8A9AD;
}

button {
  padding: 0.5rem 1rem;
  background-color: #DAD2BC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #222;
  font-weight: bolder;
}

button:hover {
  background-color: #B8B09C;
}

#filterBtn {
  appearance: none;
  -webkit-appearance: none;
  background-color: #DAD2BC;
  color: #222;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='black'%20viewBox='0%200%2016%2016'%3E%3Cpath%20fill-rule='evenodd'%20d='M1.5%205.5l6%206%206-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem;
  padding-right: 2rem;
}

#filterBtn:hover {
  background-color: #B8B09C;
}

.btn-complete {
  background-color: #5A7BBE;
}

.btn-complete:hover {
  background-color: #4666A3;
}

.btn-delete {
  background-color: #D44A3F;
}

.btn-delete:hover {
  background-color:#B23A2B;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color:#283040;
  color: black;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

th, td {
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #283040;
  color: #F5F1ED;
  font-weight: bolder;
  border: 1px solid #70798C;
}

td {
  background-color: #283040;
  color: #F5F1ED;
  border: 1px solid #70798C;
}